.blueclass{
    color: blue;
}

/*class*/
.important{
    color: brown;
}

#myname{
    color: darkslategrey;
    
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
}

aside{
    
    padding-top: 50px;
    

}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto;
    min-height: 400px;
    overflow: hidden;
  }

hr{
    
    border: 1px solid;
}

header{
    color: lightslategray;
}

.nest{
    display: flex;
}

body{
 background-image: url("images/myimage.jpg");
 background-repeat: no-repeat;
 background-size: cover !important; 
}

.first{
        color: black;
        width: 300px;
        border: 5px solid rgb(11, 12, 11);
}

h2{
    padding-top: 50px;
    padding-left: 10px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

table{
    color: whitesmoke;
    background-color:rgba(36, 41, 121, 0.2);
}

p{

    color: whitesmoke;
    background-color:rgba(36, 41, 121, 0.2);
}

.friends{
    background-color:rgba(3, 35, 121, 0.2);
}